@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  background-color: rgba(45, 107, 166, 1);
  color: white;
  font-family: "IBM Plex Sans Arabic";
}

.start-reset {
  position: absolute;
  left: 44%;
  top: 22%;
}

.start-reset a {
  font-size: 20px;
}

#start {
  margin: 1em;
  padding: 0.5em;
}

#start:hover {
  background-color: rgb(75, 250, 154);
  border-radius: 5%;
}

#start:active {
  background-color: rgb(184, 182, 182);
}

#reset {
  margin: 1em;
  padding: 0.5em;
}

#reset:hover {
  background-color: rgb(75, 250, 154);
  border-radius: 5%;
}

#reset:active {
  background-color: rgb(184, 182, 182);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  padding: 3em;
  justify-content: center;
}

.game-container > div {
  text-align: center;
  width: 1.5em;
  padding: 3em;
  margin: auto;
  border: white;
  border-radius: 5%;
  border-style: dotted;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
}

.game-container > div:hover {
  background-color: #eee;
}
